body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.link_logo {
	display: inline-block;
}

.bck_blue {
	background: #0d1831;
}

.bck_lblue {
	background: #98c5e9;
}

.img_cover {
	background-size: cover !important;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

.mt-5 {
	margin-top: 5px;
}

.mb-5 {
	margin-bottom: 5px;
}

.promotion_wrapper input,
.signin_wrapper input {
	background: #fafafa;
	border: 1px solid #e9e9e9;
	font-size: 17px;
	padding: 8px;
	border-radius: 3px;
	font-family: Roboto;
	font-weight: 300;
	width: 100%;
	box-sizing: border-box;
}

select {
	font-size: 16px;
	height: 38px;
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	width: 100%;
}

button {
	background: #0d1831;
	color: #ffffff;
	border: 1px solid #0d1831;
	padding: 5px 10px;
	margin-top: 10px;
	font-size: 15px;
	border-radius: 3px;
}

.error_label {
	color: #f44336;
	font-weight: 600;
	margin: 10px 0px;
}

.success_label {
	color: #98c5e9;
	font-weight: 600;
	margin: 10px 0px;
}

.label_inputs {
	font-size: 20px;
	margin: 10px 0px;
	font-weight: 300;
	background: #e5f4ff;
	padding: 10px;
	display: inline-block;
}

.split_fields {
	margin: 30px 0px;
	padding: 20px 0px;
	border-top: 2px solid #dddddd;
}

.split_fields.last {
	margin-bottom: 0;
	padding-bottom: 0;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #cecece;
	text-align: center;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #cecece;
	text-align: center;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #cecece;
	text-align: center;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #cecece;
	text-align: center;
}

.image_upload_container {
	position: relative;
	width: 240px;
}

.image_upload_container .remove {
	top: 0;
	position: absolute;
	right: 0;
	background: #98c6e9;
	color: #ffffff;
	border: 1px solid white;
	padding: 10px;
}

.not_found_container {
	text-align: center;
	margin-top: 96px;
	padding: 20px;
	background-size: 5px 5px !important;
	min-height: 100vh;
	text-align: center;
	font-size: 90px;
	font-family: "Righteous", cursive;
	color: #d5ebfe;
}

/*=============================
            HEADER FOOTER
===============================*/

footer {
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	padding: 30px 0px;
}

footer .img_cover {
	margin: 0 auto;
}

footer .footer_discl {
	margin: 10px 0px;
}

/*=============================
            FEATURED
===============================*/

.featured_wrapper {
	margin: 0 auto;
	width: 1100px;
	/* margin-top: 90px; */
	height: 800px;
	overflow: hidden;
	background: #0d1831;
}

.featured_stripes {
	position: relative;
}

.featured_text {
	position: relative;
	font-family: "Righteous", cursive;
}

.featured_stripes .stripe {
	width: 230px;
	height: 1200px;
	position: absolute;
}

.featured_number {
	font-size: 270px;
	color: #ffffff;
	transform: translate(260px, 170px);
	position: absolute;
}

.featured_player {
	width: 500px;
	height: 500px;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	position: absolute;
}

.featured_first {
	position: absolute;
	background: #0e1731;
	color: #ffffff;
	font-size: 92px;
	text-transform: uppercase;
	padding: 0px 20px;
}

.featured_second {
	position: absolute;
	background: #0e1731;
	color: #ffffff;
	font-size: 92px;
	text-transform: uppercase;
	padding: 0px 20px;
}

/*=============================
            MATCHES HOME
===============================*/

.home_matches_wrapper {
	margin-top: 9px;
	padding: 50px 0px;
	/* min-height: 800px; */
}

.home_matches_wrapper .home_matches {
	flex-wrap: wrap;
	display: flex;
	/* margin-top: 60px; */
	/* border: 1px solid #ebebeb; */
}

.home_matches_wrapper .home_matches .item {
	width: 25%;
	/* margin: 35px 0px; */
}

.home_matches_wrapper .home_matches .item .wrapper {
	padding-right: 30px;
	border-right: 1px solid #ebebeb;
}

/*=============================
            MATCHES BLOCK
===============================*/

.match_block .match_date {
	color: #959595;
	font-size: 18px;
	padding: 10px 0 10px 10px;
}

.match_block .match_wrapper .match_top,
.match_block .match_wrapper .match_bottom {
	display: flex;
}

.match_block .match_wrapper .match_bottom {
	margin-top: 5px;
}

.match_block .match_wrapper .match_top .left,
.match_block .match_wrapper .match_bottom .left {
	background: #ffffff;
	/* font-family: "Righteous", cursive; */
	flex-grow: 1;
	margin-right: 5px;
	padding: 10px;
}

.match_block .match_wrapper .match_top .left div,
.match_block .match_wrapper .match_bottom .left div {
	float: left;
}

.match_block .match_wrapper .match_top .left .icon,
.match_block .match_wrapper .match_bottom .left .icon {
	width: 25px;
	height: 25px;
	background-size: cover !important;
	margin-left: 10px;
}

.match_block .match_wrapper .match_top .left .team_name,
.match_block .match_wrapper .match_bottom .left .team_name {
	/* font-size: 30px; */
	padding: 4px 10px;
}

.match_block .match_wrapper .match_top .right,
.match_block .match_wrapper .match_bottom .right {
	/* background: #0e1731;
	width: 70px;
	color: #ffffff;
	font-size: 50px; */
	text-align: center;
	line-height: 47px;
	color: #98c5e9;
	font-weight: 700;
	/* padding-top: 6px; */
}

.match_box_big {
	width: 100%;
	border-bottom: 2px solid #98c6e9;
	padding: 20px;
	box-sizing: border-box;
	height: 143px;
	clear: both;
}

.match_box_big .block_wraper {
	display: inline-block;
	margin-right: 50px;
	float: left;
}

.match_box_big .block {
	display: flex;
}

.match_box_big .icon {
	width: 40px;
	height: 40px;
	background-size: cover !important;
}

.match_box_big .block .team,
.match_box_big .block .result {
	font-size: 21px;
	line-height: 51px;
	margin-left: 18px;
	font-weight: 300;
}

.match_box_big .block .result {
	font-weight: 500;
}

.block_wraper.nfo {
	border-left: 1px solid #98c6e9;
	height: 102px;
	padding-left: 10px;
	font-weight: 300;
	color: #5e5e5e;
}

.block_wraper.nfo div {
	margin: 5px 0px;
}

.match_filters {
	display: flex;
	border-bottom: 1px solid #01285e;
	background: #dff1ff;
}

.match_filters .tag {
	/* font-weight: 300;
	margin-bottom: 5px;
	color: #656565; */

	min-width: 96px;
	text-align: center;
	background: #fffffe;
	border: 0.5px solid #aeb4c4;
	border-radius: 6px;

	color: #38404d;
	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
	padding: 8.5px 20px;
	/* margin: 0 12px 0 0; */
	padding: 10px 5px;
}
.match_filter_logo img {
	width: 150px;
}

.match_filters .option {
	background: #ffffff;
	padding: 5px 9px;
	border-radius: 3px;
	font-size: 13px;
	margin-right: 5px;
	cursor: pointer;
}

.match_filters .option.active {
	background: #62a2d3;
	color: #fff;
	min-width: 96px;
	text-align: center;
	/* background: #fffffe; */
	border: 0.5px solid #aeb4c4;
	border-radius: 6px;
	/* color: #38404d; */
	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
	padding: 8.5px 20px;
	/* margin: 0 12px 0 0; */
	padding: 10px 5px;
}

.match_filters_box {
	padding: 10px;
	display: flex;
	align-items: center;
	/* border-right: 1px solid #01285e; */
	/* background: #dff1ff; */
}

.match_filters .cont {
	display: flex;
}

/*=============================
            MATCHES BLOCK
===============================*/

.home_meetplayers {
	/* background: #ffffff url("../images/stripes.png"); */
}

.home_meetplayers_wrapper {
	padding-bottom: 100px;
	min-height: 600px;
}

.home_meetplayers .home_card_wrapper {
	position: relative;
	float: left;
	width: 100%;
	/* min-height: 600px; */
}

.home_meetplayers .home_text_wrapper {
	float: right;
	/* width: 390px; */
}

/*=============================
            MATCHES BLOCK
===============================*/

.player_card_wrapper {
	background: #ffffff;
	border: 1px solid #ececec;
	width: 300px;
	padding: 10px 10px 20px 10px;
	font-family: "Righteous";
}

.player_card_wrapper .player_card_thmb {
	border: 1px solid #eeeeee;
	width: 100%;
	height: 250px;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: contain !important;
}

.player_card_wrapper .player_card_nfo {
	position: relative;
}

.player_card_wrapper .player_card_number {
	color: #d6ecfe;
	font-size: 185px;
	text-align: right;
	line-height: 160px;
}

.player_card_wrapper .player_card_name {
	position: absolute;
	bottom: 0px;
}

.player_card_wrapper .player_card_name span {
	display: block;
	font-size: 25px;
	color: #0d1831;
}

.home_text_wrapper {
	margin-top: 70px;
}

/*=============================
         PROMOTION
===============================*/

.promotion_wrapper {
	padding: 30px 0px 130px 0px;
	background: #ffffff;
}

.promotion_wrapper .promotion_animation {
	display: flex;
	padding: 80px 0px 30px 0px;
}

.promotion_wrapper .promotion_animation .left {
	text-transform: uppercase;
	text-transform: uppercase;
	font-size: 150px;
	font-family: "Righteous", cursive;
	flex-grow: 1;
	color: #d5ebfd;
	line-height: 135px;
}

.promotion_wrapper .promotion_animation .left span {
	display: block;
}

.promotion_wrapper .promotion_animation .right {
	line-height: 135px;
}

.promotion_wrapper .promotion_animation .right div {
	width: 280px;
	height: 280px;
	background-size: contain !important;
}

.promotion_wrapper .enroll_wrapper {
	text-align: center;
}

.promotion_wrapper .enroll_title {
	/* font-family: "Righteous", cursive; */
	font-size: 26px;
	color: #4e4e4e;
}

.promotion_wrapper .enroll_discl {
	font-weight: 300;
	font-size: 12px;
	width: 271px;
	margin: 0 auto;
	padding: 10px 0px;
}

.promotion_wrapper .enroll_input {
	width: 330px;
	margin: 0 auto;
	padding: 10px 0px;
}

.promotion_wrapper .enroll_input .progress {
	margin-top: 20px;
}

.promotion_wrapper .jersey {
	background: url("../images/jersey.jpg") no-repeat;
}

/*=============================
         THE MATCHES
===============================*/

.the_matches_container {
	margin-top: 96px;
}

.the_matches_wrapper {
	display: flex;
	background: #f9f9f9;
}

.the_matches_wrapper .left {
	flex-grow: 1;
}

.the_matches_wrapper .right {
	width: 400px;
}

.league_table_wrapper {
	border-left: 1px solid #98c6e9;
	background: #98c6e9;
}

.league_table_wrapper .title {
	padding: 22px;
	font-size: 22px;
	color: #ffffff;
	background: #98c6e9;
	border-bottom: 1px solid #01285e;
}

.the_matches_wrapper .progress {
	text-align: center;
	padding: 60px 0px;
}

.league_table_wrapper .MuiTableCell-root {
	padding: 4px 16px 4px 11px;
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
	text-align: center;
}

/*=============================
         ADMIN
===============================*/

.admin_container {
	margin-top: 96px;
	display: flex;
}

.admin_container .admin_nav_link {
	color: #ffffff;
	font-weight: 300;
	border-bottom: 1px solid #353535;
}

.admin_container .admin_left_nav {
	min-height: 100vh;
	background: #282828;
	border-right: 2px solid #01285e;
}

.admin_container .admin_right {
	flex-grow: 1;
	padding: 20px;
}

.admin_container .admin_progress {
	text-align: center;
	margin: 20px 0px;
}

.admin_container .matches_tag_red {
	font-weight: 700;
	color: #f44336;
}

.admin_container .matches_tag_green {
	font-weight: 700;
	color: #4caf50;
}

.admin_container h2 {
	margin: 0px 0px 50px 0px;
	border-bottom: 1px solid #dbdbdb;
	color: #414141;
	font-size: 40px;
}

.select_team_layout .wrapper {
	display: flex;
}

.select_team_layout .wrapper .left {
	flex-grow: 1;
}

.select_team_layout input[name="result_local_input"],
.select_team_layout input[name="result_away_input"] {
	width: 60px;
	text-align: center;
	background: #98c6e9;
	color: #ffffff;
}

.admin_submit button {
	font-size: 20px;
	margin: 40px 0px;
	background: #009688;
}

.editmatch_dialog_wrapper hr {
	margin: 20px 0px;
}

.MuiSelect-outlined.MuiSelect-outlined {
	min-width: 164px;
}

/*=============================
         THE TEAM
===============================*/

.the_team_container {
	margin-top: 96px;
	padding: 20px;
	background-size: 5px 5px !important;
	min-height: 100vh;
	background: #ffffff url("../images/stripes.png");
}

.team_category_wrapper .title {
	font-size: 90px;
	margin: 30px 0px;
	font-family: "Righteous", cursive;
	color: #d5ebfe;
}

.team_category_wrapper {
	min-height: 600px;
}

.team_category_wrapper .team_cards {
	display: flex;
	flex-wrap: wrap;
}

.team_category_wrapper .team_cards .item {
	margin-right: 20px;
	margin-bottom: 20px;
}

/*=============================
            SIGN IN
===============================*/

.signin_wrapper {
	margin-top: 96px;
	padding: 20px;
	min-height: 70vh;
	text-align: center;
}

.signin_wrapper form {
	width: 350px;
	margin: 0 auto;
}

.signin_wrapper form button {
	width: 100%;
	padding: 10px;
}

.signin_wrapper h2 {
	font-family: "Righteous", cursive;
	color: #98c6e9;
	font-size: 50px;
}

.user_dashboard {
	font-size: 60px;
	font-family: "Righteous", cursive;
	color: #d5ebfe;
	text-align: center;
	margin-top: 200px;
}

.progress {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* css featured news */
.home_news_wrapper {
	margin: 0 auto;
	width: 1100px;
	margin-top: 90px;
	overflow: hidden;
}

.featured_news_wrapper {
	background: #98c5e9;
	margin: 0 auto;
	width: 1100px;
	overflow: hidden;
}

.featured_news_home {
	display: flex;
}

.featured_news_home .left {
	flex-grow: 1;
}

.featured_news_home .right {
	/* padding: 0 10px; */
	width: 600px;
}

/* .right_box {
	display: flex;
} */

.right_box .box_left {
	flex-grow: 1;
}

.featured_news_wrapper .news_container {
	padding: 0 20px;
	max-width: 100%;
}

.news_box {
	padding: 0 10px;
	margin-bottom: 20px;
}
.news_box .news_info {
	color: #ffffff;
	background-color: #37003c;
	padding: 20px 15px;
}

.news_box .news_info .title {
	margin-bottom: 10px;
	font-weight: 700;
}
.news_box .news_info .title:hover {
	color: #98c5e9;
}

.news_box .news_info .des {
	font-size: 24px;
	line-height: 33px;
	margin: 0;
}

.des_box_right {
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 17px;
	-webkit-line-clamp: 2;
	height: 47px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	font-size: 13px;
}

.match_block {
	padding-left: 20px;
}

/* Outstanding Match */

.outstanding_match {
	border-right: 1px solid #ebebeb;
	padding: 0 10px;
}
.outstanding {
	font-weight: 700;
	color: #98c5e9;
}

/* star sports */
.player_box {
	display: flex;
	margin-top: 10px;
}
.player_start .player_box {
	flex: 0 0 210px;
	height: 144px;
	margin: 20px 0;
}
.player_start .news_info {
	flex: 1;
	margin-left: 20px;
}

/* button see more star */
.see_more {
	display: flex;
	align-items: center;
	justify-content: center;
	--gap: 29px;
	--bg-line: #ebebeb;
}

.see_more:before {
	content: "";
	height: 1px;
	background-color: var(--bg-line);
	flex: 1;
	--gap: 23px;
}

.see_more::after {
	content: "";
	height: 1px;
	background-color: var(--bg-line);
	flex: 1;
}

.button_seemore {
	background: linear-gradient(45deg, #98c5e9, #98c5e9) padding-box;
	border-radius: 50px;
	height: 23px;
	color: #ffffff;
	padding: 4px 11px;
	font-size: 14px;
	text-transform: capitalize;
}

.seemore:hover {
	background-color: transparent !important;
}

/* chart */
.home_charts {
	margin-top: 60px;
}

.charts_table_wrapper {
	padding: 0 20px;
}

.charts_table_wrapper .title {
	white-space: nowrap;
	/* font-weight: 500; */
	color: #949494;
	border-top: none;
	width: 72px;
	/* font-size: 14px; */
	padding: 15px 0 0 15px;
}

.charts_cell {
	display: flex !important;
}
.charts_cell p {
	margin-left: 5px;
}

.charts_table {
	margin-top: 20px;
}
.charts_table th {
	white-space: nowrap;
	font-weight: 400;
	color: #949494;
	border: none;
	padding: 0 16px;
	font-size: 16px;
}

.charts_body td {
	padding: 0 16px;
	text-align: center;
	border-bottom: none;
}
/* .charts_body{
	border: none;
} */
.charts_cell .STT {
	color: #949494;
	width: 20px;
}

.places {
	width: 50%;
}

.ratings {
	width: 20px;
	height: 20px;
	border-radius: 4px;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

/* news details */
.home_details_wrapper {
	margin-top: 120px;
}
.description {
	margin-top: 20px;
}
.details_title {
	font-size: 32px;
	color: #222222;
	font-weight: 700;
}
.description .description_title {
	font-size: 16px;
	color: #757575;
	text-transform: uppercase;
}
.description_text {
	font-size: 18px;
	line-height: 160%;
	font-weight: 400;
	margin-bottom: 15px;
}

.details_images img {
	width: 100%;
	margin-top: 20px;
}
.details_images .img_title {
	font: 400 14px arial;
	line-height: 160%;
	color: #222;
	padding: 10px 0 0 0;
	margin: 0;
	text-align: left;
}
.details_author {
	text-align: right;
	padding: 10px;
}
.details_author span {
}

/* header detail */
.width_common {
	width: 60%;
	/* display: flex;
	float: left; */
}
.header_breadcrumb {
	display: flex;
	align-items: center;
}
.header_breadcrumb .date {
	font-size: 14px;
	color: #757575;
	text-transform: capitalize;
}
.breadcrumb {
	float: left;
	padding-left: 0;
}

.breadcrumb li:first-child {
	color: #076db6;
}
.breadcrumb li {
	position: relative;
	display: inline-block;
	line-height: 16px;
	font-size: 14px;
	color: #757575;
	margin-right: 25px;
}
/* .page-detail .header-content .date,
.page-detail .width-detail-photo .date {
	float: right;
	color: #757575;
	font-size: 14px;
} */

/* .header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
} */

.breadcrumb .breadcrumb_child:after {
	content: "";
	width: 7px;
	height: 7px;
	border-top: 1px solid #bdbdbd;
	border-right: 1px solid #bdbdbd;
	transform: rotate(45deg);
	position: absolute;
	left: -19px;
	top: 5px;
}

.header-content .date {
	color: #757575;
	font-size: 14px;
}

/* related news */
.home_wrapper {
	display: flex;
}
.details_wrapper {
	flex-grow: 1;
	width: 60%;
	padding-right: 40px;
}
/* .home_related_news {
	width: 40%;
	position: -webkit-sticky;
		position: sticky;
		top: 0;
		background-color: yellow;
		padding: 50px;
		font-size: 20px;
} */
.related_text {
	border-bottom: 1px solid rgb(227, 227, 227);
	padding-bottom: 10px;
}

.home_related_news {
	position: sticky;
	top: 100px;
}
.related_box {
	margin: 10px 0 0 0 !important;
	display: flex;
}
.related_text .related_box .des_related p {
	margin: 0px;
	line-height: 24px;
	font-size: 16px;
}

.box_colums {
	float: right;
	width: 50%;
	/* padding: 0 10px;
	margin-bottom: 20px; */
}

.box_colums .news_info {
	color: #ffffff;
	background-color: #37003c;
	padding: 20px 15px;
}

.box_colums .news_info .title {
	margin-bottom: 10px;
	font-weight: 700;
}
.box_colums .news_info .title:hover {
	color: #98c5e9;
}

.box_colums .news_info .des {
	font-size: 24px;
	line-height: 30px;
	margin: 0;
}

.row_colums {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	gap: 10px;
	margin-left: 10px;
}

.box_colums {
	width: 48%;
}

/* table league */
.matches_transcript {
	background-color: #ffffff;
	box-shadow: 0px 2px 2px rgba(185, 192, 210, 0.2);
	margin: 30px 0;
}
.league_table {
	border: 1px solid #e5e5e5;
}
.matches_transcript .charts_body tr {
	border-bottom: 1px solid #e5e5e5;
}
.matches_transcript table {
	border: 1px solid #e5e5e5;
}
.matches_transcript .charts_table {
	background: #fafafa;
	border-radius: 6px 6px 0px 0px;
	border-bottom: 1px solid #e5e5e5;
}
.matches_transcript th {
	padding: 10px 16px;
	color: #38404d;
}
.match_filters {
	background: #fff;
	border: 1px solid #e5e5e5;
	margin-top: 30px;
	box-shadow: 0px 2px 2px rgba(185, 192, 210, 0.2);
	border-top: 6px solid #98c5e9;
	border-radius: 6px;
}
.match_filters_result {
	background: rgb(57, 63, 54);
	display: flex;
	padding: 10px;
	border-radius: 6px 6px 0px 0px;
}
.cont_result_filters {
	display: flex;
	align-items: center;
}
.cont_result_filters .option {
	margin-right: 5px;
	background: #62a2d3;
	color: #fff;
	min-width: 96px;
	text-align: center;
	/* background: #fffffe; */
	border: 0.5px solid #aeb4c4;
	border-radius: 6px;
	/* color: #38404d; */
	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
	padding: 8.5px 20px;
	/* margin: 0 12px 0 0; */
	padding: 10px 5px;

	background: #94a2b8;
	border: 0.5px solid #4c5979;
	border-radius: 6px;
	padding: 0 10px 0 8px;
	outline: none;
	height: 32px;
	line-height: 32px;
	cursor: pointer;
}
.box_matches_list {
	margin-top: 20px;
	text-align: center;
}
.player_box .news_info .des:hover {
	color: #98c5e9;
}

/* css star */
.star_box_right {
	display: flex;
	margin-left: 15px;
	padding-bottom: 10px;
}
.star_wrapper {
	margin-top: 120px;
	margin-bottom: 30px;
}
.star_home {
	display: flex;
	margin-top: 10px;
}
.star_home .left {
	flex-grow: 1;
}
.star_home .right {
	width: 400px;
}
.star_box_right .star_img img {
	max-width: 150px;
	height: 100%;
	margin: 0 15px 0 0;
}
.star_box_right:not(:first-child) {
	padding-top: 10px;
}
.star_box_right:not(:last-child) {
	border-bottom: 1px solid rgb(227, 227, 227);
}
.star_box_right:last-child {
	padding-bottom: 0;
}
.star_colums .title {
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}

.star_box .star_info .title {
	font-size: 24px;
	line-height: 34px;
	color: #fff;
	padding: 20px;
	font-weight: 600;
	background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.9019607843137255) 0%,
		rgba(0, 0, 0, 0) 99%
	);
}
.star_box {
	position: relative;
}
.star_box .star_info {
	position: absolute;
	bottom: 0;
}

/* css latest star */
.latest_box {
	flex: 0 0 210px;
	height: 144px;
	margin: 30px 0;
	display: flex;
}

.latest_warpper {
	margin-top: 10px;
}
.latest_info {
	margin-left: 20px;
}

.ratings.win {
	background: #98c5e9;
}
.ratings.lose {
	background: #f34848;
}
.ratings.draw {
	background: #757575;
}

.cont_result_filters > div {
	background: #94a2b8;
	padding: 7px 30px 7px 10px;
	font-size: 14px;
	color: #ffffff;
	border-radius: 6px;
	position: relative;
}
.cont_result_filters > div:not(:last-child) {
	margin-right: 20px;
}
.cont_result_filters > div::before {
	content: "";
	width: 7px;
	height: 7px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 2;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.cont_result_filters > div:hover {
	cursor: pointer;
	background: #687c9b;
}
